 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p class="text-center">I make beautiful mobile apps following the best visual & interaction design practices with a good and clean code.</p>
                </div>
            </div>
        </div>
    </section>